/* Reset de margens e preenchimentos padrão */
* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}


/* Certifique-se de que a classe 'active' controla a exibição das seções */
.container .list .item {
    display: none; /* Inicialmente todas as seções estão escondidas */
}

.container .list .item.active {
    display: block; /* Somente a seção ativa será exibida */
}

/* Cor de fundo do corpo */
body {
    background-color: #000000; /* fundo preto */
    font-family: 'Poppins', sans-serif;
}

/* Estilos para o cabeçalho */
header {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    justify-content: space-between;
    position: relative;
}

/* Logo no header */
header img {
    width: 143px; /* Tamanho da imagem */
    height: 80px;
    margin-left: -10%;
    margin-top: -1%;
}

/* Texto Top 5 no header */
header nav ul li {
    position: flex;
    top: 26px;
    left: 302px;
    font-size: 15px; /* Tamanho maior no desktop */
    font-weight: bold;
    color: #ffffff;
}

/* Indicadores */
.indicators {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translatex(-50%);
    height: 100px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;

    & .number {
        font-size: 3em;
        color:#ffffff;
        font-family: "Poppins", serif;
       
    }

    & ul {
        display: flex;
        gap: 10px;

        & li {
            width: 50px;
            height: 5px;
            background-color: gold;
            border-radius: 5px;
        }

        & .active {
            background-color: aliceblue;

        }
    }



}


.img2 img {
    align-self: center;
    width: 400px;
    height: 250px;
    position: absolute;
    left: 32px;
    top: 208px;
    border-radius: 20px;
}

.content h2 {
    position: relative;
    display: flex;
   margin-left: 25%;
    color: white;
    text-align: center;
    margin-top: 80%;
    font-size: 2em; 
}

hr {
    position: absolute;
    top: 473px;
    left: 20px;
    width: 100%;
    border: 1px solid white;
}

.arrows {
    width: 110vw;
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;



    & button:nth-child(1) {
        & img {
            transform: scale(-1)
        }
    }

    & button {
        top: 60%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        cursor: pointer;

        & img {
            width: 30px;
            margin-top: 4px;
        }

        &:hover {
            background-color: gold;
        }
    }
}


&::before {
    content: '';
    position: absolute;
    height: 70px;
    width: 110%;
    top: 60%;
    border-top: 1px solid white;
}

/* Quadrado curvado para o description e o information */
.quadrado-curvado {
    position: absolute;
    top: 60%;
    left: 28px;
    width: 338px;
    height: 196px;
    background: transparent;
    border: 1px solid white;
    border-radius: 23px;
    padding: 20px;
}

/* Descrição */
.descripition {
    font-size: 12px; /* Tamanho de fonte maior no desktop */
    color: white;
    line-height: 1.5;
}

/* Botão de informação */
.information {
    position: flex;
    align-self: center;
    top: 120px;
    left: 70%;
    width: 121px;
    height: 27px;
    background-color: #F3C200;
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 50px;
    font-size: 16px; /* Tamanho de fonte maior no desktop */
    cursor: pointer;
}

/* Ajuste para o layout responsivo no desktop */
@media (min-width: 768px) {
    /* Indicadores */
    

    /* A imagem do anime pode estar mais centralizada */
    .img2 img {
        width: 40%; /* A imagem fica menor e centralizada no desktop */
        left: 30%;
        top: 250px;
    }

    /* Ajustando o quadrado curvado */
    .quadrado-curvado {
        width: 70%; /* Deixa o quadrado curvado mais largo */
        left: 15%;
    }

    /* Ajuste na posição do botão de informação */
    .information {
        position: relative;
        top: 50px;
        left: 20%;
    }
}

@media (max-width: 500px) {
    /* Indicadores */

    .content h2{
        display: block;
        margin-top: 80%;
        margin-left: 2%;

    }

    /* A imagem do anime pode estar mais centralizada */
    .img2 img {
        width: 70%; /* A imagem fica menor e centralizada no desktop */
        left: 18%;
        top: 250px;
        height: 200px;
    }

    /* Ajustando o quadrado curvado */
    .quadrado-curvado {
        margin-top: 5%;
        width: 70%;
        height: 250px; /* Deixa o quadrado curvado mais largo */
        left: 15%;
    }

    /* Ajuste na posição do botão de informação */
    .information {
        position: relative;
        top: 50px;
        left: 80px;
    }
}
@media (max-width: 430px) {
    /* Indicadores */

    .content h2{
        display: flex;
        margin-top: 90%;
        margin-left: 20%;
    }

    /* A imagem do anime pode estar mais centralizada */
    .img2 img {

        width: 70%; /* A imagem fica menor e centralizada no desktop */
        left: 15%;
        top: 28%;
        width: 320px;
        height: 200px;
    }

    /* Ajustando o quadrado curvado */
    .quadrado-curvado {
        margin-top: 5%;
        width: 80%; /* Deixa o quadrado curvado mais largo */
        left: 17%;
    }

    /* Ajuste na posição do botão de informação */
    .information {
        position: relative;
        top: 50px;
        left: 90px;
    }
    
}

@media (max-width: 400px){
    .content h2{
        display: flex;
        margin-top: 95%;
        margin-left: 17%;
    }

    .indicators {
        height: 110px;
        width: 90vw;
       &.number{
        font-size: 40px;
    }
   }
    /* A imagem do anime pode estar mais centralizada */
    .img2 img {
        width: 70%; /* A imagem fica menor e centralizada no desktop */
        left: 13%;
        top: 30%;
        width: 300px;
        height: 170px;
    }

    /* Ajustando o quadrado curvado */
    .quadrado-curvado {
        margin-top: 5%;
        width: 70%; /* Deixa o quadrado curvado mais largo */
        left: 15%;
    }
    .information {
        position: relative;
        top: 40px;
        left: 70px;
    }

  
    
}
@media (min-width:501px){
    .content h2{
        display: flex;
        margin-top: 75%;
        margin-left: 24%;
    }

    
   
    /* A imagem do anime pode estar mais centralizada */
    .img2 img {
        width: 80%; /* A imagem fica menor e centralizada no desktop */
        left: 15%;
        top: 30%;
        width: 370px;
        height: 210px;
    }

    /* Ajustando o quadrado curvado */
    .quadrado-curvado {
        margin-top: 5%;
        width: 70%; /* Deixa o quadrado curvado mais largo */
        left: 17%;
    }
    .information {
        position: relative;
        top: 20px;
        left: 110px;
    }
    
    
}

@media (min-width:550px){
    .content h2{
        position: fixed;
        top: 5%;
        left: 2%;
    }

    .indicators {
        height: 110px;
        width: 90vw;
       &.number{
        font-size: 40px;
    }
   }
    /* A imagem do anime pode estar mais centralizada */
    .img2 img {
        width: 80%; /* A imagem fica menor e centralizada no desktop */
        left: 15%;
        top: 30%;
        width: 370px;
        height: 210px;
    }

    /* Ajustando o quadrado curvado */
    .quadrado-curvado {
        margin-top: 5%;
        width: 70%; /* Deixa o quadrado curvado mais largo */
        left: 17%;
    }

    .information {
        position: relative;
        top: 20px;
        left: 120px;
    }
    
}
@media (max-width:390px){
    .content h2{
        display: flex;
        margin-top: 88%;
        margin-left: 24%;
        font-size: 2em;
    }

    
   
    /* A imagem do anime pode estar mais centralizada */
    .img2 img {
        width: 80%; /* A imagem fica menor e centralizada no desktop */
        left: 10%;
        top: 25%;
        width: 370px;
        height: 210px;
    }

    /* Ajustando o quadrado curvado */
    .quadrado-curvado {
        margin-top: 5%;
        width: 80%; /* Deixa o quadrado curvado mais largo */
        left: 20%;
    }
    .information {
        position: relative;
        top: 40px;
        left: 80px;
    }
    
    
}

@media (max-width:360px){
    .content h2{
        display: flex;
        margin-top: 80%;
        margin-left: 16%;
        font-size: 2em;
    }

    
   
    /* A imagem do anime pode estar mais centralizada */
    .img2 img {
        width: 70%; /* A imagem fica menor e centralizada no desktop */
        left: 8%;
        top: 25%;
        width: 350px;
        height: 200px;
    }

    /* Ajustando o quadrado curvado */
    .quadrado-curvado {
        margin-top: 5%;
        width: 80%; /* Deixa o quadrado curvado mais largo */
        left: 15%;
    }
    .information {
        position: relative;
        top: 40px;
        left: 70px;
    }
    
    
}



